body{

font-family:'Segoe UI',sans-serif;
background:linear-gradient(135deg,#1e1e2f,#2a2a40);
color:white;
text-align:center;

}

h1{
color:#00ffcc;
}

.container{
width:95%;
margin:auto;
}

input,select,button{

padding:10px;
margin:5px;
border-radius:6px;
border:none;

}

button{

background:#00ffcc;
cursor:pointer;
font-weight:bold;

}

button:hover{
background:#00ccaa;
}

table{

width:90%;
margin:20px auto;
border-collapse:collapse;

}

th,td{

border:1px solid #444;
padding:10px;

}

tbody tr{
cursor:pointer;
}

tbody tr:hover{
background:#333;
}

.timeline span{

width:40px;
display:inline-block;

}

.gantt{

display:flex;
justify-content:center;
margin-top:10px;

}

.bar{

height:50px;
line-height:50px;
color:white;
font-weight:bold;
border-radius:6px;
margin-right:2px;
background:#2196f3;

}

canvas{

margin-top:30px;
background:#111;
padding:10px;
border-radius:10px;

}

footer{
margin-top:40px;
}